* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 1rem;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.menu {
  background: #222;
  padding: 0.5rem;
}

.search input {
  padding: 0.5rem;
  background: #333;
  border: none;
  color: white;
}


.identity {
  text-align: center;
  padding: 1rem 0;
}

.profile-image {
  color: white;
  background: #c40d0d;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

/* Intro */
.intro {
  text-align: center;
  margin: 1rem 0;
}


.main-content {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.projects {
  flex: 2;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.project-card {
  background: #2c0be9;
  padding: 3rem;
  border: 1px solid #444;
}

.chat {
  flex: 1;
  background: #15dd37;
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  margin-top: auto;
}
