* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 1rem;
}

canvas#matrixCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Push canvas behind everything */
  pointer-events: none; /* Allow clicks to pass through */
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.menu {
  background: #222;
  padding: 0.5rem;
}

.search input {
  padding: 0.5rem;
  background: #333;
  border: none;
  color: white;
}


.identity {
  text-align: center;
  padding: 1rem 0;
}

.profile-image {
  color: white;
  background: #c40d0d;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.intro {
  text-align: center;
  margin: 1rem 0;
}


.main-content {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.projects {
  flex: 2;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.project-card {
  background: #2c0be9;
  padding: 3rem;
  border: 1px solid #444;
}

.chat {
  flex: 1;
  background: #15dd37;
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  margin-top: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
    margin-bottom: 15px;
}


/*SmartPainter specific styles*/
.project-page {
            background-image: url(resources/smartPainter.png);
            text-align: center;
            padding: 100px 20px;
            color: white;
            background-size: cover; /* Ensures the background image covers the entire container */
            background-position: center; /* Centers the background image horizontally and vertically */
            height: auto; /* Allows the background image to maintain its original aspect ratio */
            min-height: 250px;
            max-height: 300px;
}

/*llmTicTacToe specific styles*/
.project-page {
            background-image: url(resources/smartPainter.png);
            text-align: center;
            padding: 100px 20px;
            color: white;
            background-size: cover; /* Ensures the background image covers the entire container */
            background-position: center; /* Centers the background image horizontally and vertically */
            height: auto; /* Allows the background image to maintain its original aspect ratio */
            min-height: 250px;
            max-height: 300px;
}
/*llmGameAgent specific styles*/
/*gemmaReasoner specific styles*/

    